/*
 * Specific styling, by element.
 */

body > header {
    background-color: #1B6DA2;
    background-image: url('../img/cloud.png');
    background-repeat: no-repeat;
    background-position: right center;

    h1 a, h2 {
       color: #BCCFDC;
       text-shadow: 1px 1px #555;
    }
    
    .lg-switcher a {
        opacity: 0.6;
        @include unhover;
        &:hover, &.active{
            opacity: 1;
            @include hover;
        }
    }
}

.main {
    background-color: #fff;
    @include shadow;
    @include radius(6px);
    overflow: hidden;

    nav {
        @include gradient(#FFE27C, #EDC229, #EDC229);
        a {
            font-family: $headingFont;
            font-size: 18px;
            /*color: #073E62;*/
            color: #888;
            text-shadow: 1px 1px #555;
            text-decoration: none;
            @include unhover;
            &:hover{
                color: #0B67A2;
                @include hover;
            }
        }
    }
}

footer, footer a {
    background: #333;
    color: #fefefe;
    font-size: 12px;
    text-align: center;
}
