
        <aside>
           
           <section class="about-me">
               <h1>About the author</h1>
               LOrem ipsim sit dolor amet. 
               LOrem ipsim sit dolor amet. 
               LOrem ipsim sit dolor amet.
               <ul class="links"> 
                   <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                   <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                   <li><a href="#"><span class="fa fa-github"></span></a></li>
                   <li><a href="#"><span class="fa fa-linkedin"></span></a></li>

               </ul>
           </section>
           <section>
               <h1>Archives</h1>
               <x-post-list>
                {{#each allposts}}
                    <x-post 
                       {{#if date}}date="{{date}}" {{/if}}
                       {{#if categories}}categories="{{categories}}" {{/if}}>
                        <x-load href="{{url}}" target="#content">{{title}}</x-load>
                    </x-post> 
                {{/each}} 
               </x-post-list> 
           </section>

        </aside>
