
        <aside>
           
           <div>
                <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1397165098.html#_=1398319703658&id=twitter-widget-0&lang=en&screen_name=kramp&show_count=false&show_screen_name=true&size=s" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
           </div>

            <div>
                <a href="https://plus.google.com/105949826536803223545?rel=author">
                    <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" height="32" width="32">
                    Google+
                </a>
            </div> 
        </aside>
