<footer class="wrapper">
    <p><a href="http://krampstudio.com">Krampstudio</a>, by Bertrand Chevrier ©left 2014 - Powered by <a href="http://staticatr.io">staticatr</a>, the blog generator</p>
</footer>
