
    <nav role="navigation">
        <ul>
            {{#each navs}}
            <li>
                <!--<x-load href="{{url}}" target="#content"><a href="#">{{title}}</a></x-load>-->
                <x-load href="{{url}}" target="#content">{{title}}</x-load>
            </li>
            {{/each}}
        </ul>
    </nav>
