    <nav role="navigation">
        <ul>
        {{#each navs}}
            {{#if url}}
            <li>
                <x-load href="{{url}}" target="#content">{{title}}</x-load>
            </li>
            {{/if}}
        {{/each}}
        </ul>
    </nav>
