
    <nav role="navigation">
        <ul>
            <li><a href="posts.html">Blog</a></li>
            {{#each navs}}
            <li><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </nav>
