/*
 * Specific styling, by element.
 */

body > header {
    background-color: #1B6DA2;
    background-image: url('../img/cloud.png');
    background-repeat: no-repeat;
    background-position: right center;

    h1 a, h2 {
       color: #BCCFDC;
       text-shadow: 1px 1px #555;
    }
    
    .lg-switcher a {
        opacity: 0.6;
        @include unhover;
        &:hover, &.active{
            opacity: 1;
            @include hover;
        }
    }
}

.main {
    background-color: #fff;
    @include shadow;
    @include radius(6px);
    overflow: hidden;

    nav {
        @include gradient(#FFE27C, #EDC229, #EDC229);
        x-load {
            font-family: $headingFont;
            font-size: 18px;
            text-decoration: none;
            text-transform: capitalize;
            @include intextshadow(#666, #EDC229); 
            @include unhover;
            &:hover{
                color: #0B67A2;
                @include hover;
            }
        }
    }
    aside {
        border-left: solid 1px #ccc;
    }

    article {
        .read-more {
            display: block;
            height: 30px;
            line-height: 30px;

            &:after {
                @extend .fa;
                @extend .fa-arrow-circle-right:before;
            }
        }
    }

    #content {
        img {
            float: left;
            margin: 0 25px 10px 0;
            padding: 3px;
            border: solid 1px #eee;
            @include radius(3px);
            @include shadow;
        }
        article {
            &:after, &:before {
                clear: both;
            } 
            img {
                max-height: 150px;
            }
            header {
                h1 {
                    margin-bottom: 20px;
                }
                time {
                    font-style : italic
                }
                .categories > span {
                    background-color: #0B67A2;
                    color: #fff;
                    @include radius(6px);

                    padding: 1px 2px; 
                    margin: 0 3px 0 0;

                    line-height: 32px;
                }
            }
        }

        ul {
            @extend .fa-ul;
            & > li {
                position: relative;
                margin-bottom: 3px;
                &:before {
                    @extend .fa;   
                    @extend .fa-li;   
                    @extend .fa-check-square;
                    color: #2C5A78;
                    font-size: 13px;
                    line-height: 13px;
                }
            }
        } 
        blockquote {
            clear: both;
        }
    }
}

footer, footer a {
    background: #333;
    color: #fefefe;
    font-size: 12px;
    text-align: center;
}
