/*
 * Specific styling, by element.
 */

body > header {
    background-color: #1B6DA2;
    background-image: url('../img/cloud.png');
    background-repeat: no-repeat;
    background-position: right center;

    h1 a, h2 {
       color: #BCCFDC;
       text-shadow: 1px 1px #555;
    }
    
    .lg-switcher a {
        opacity: 0.6;
        @include unhover;
        &:hover, &.active{
            opacity: 1;
            @include hover;
        }
    }
}

.main {
    background-color: #fff;
    @include shadow;
    @include radius(6px);
    overflow: hidden;

    nav {
        @include gradient(#FFE27C, #EDC229, #EDC229);
        x-load {
            font-family: $headingFont;
            font-size: 18px;
            text-decoration: none;
            text-transform: capitalize;
            @include intextshadow(#666, #EDC229); 
            @include unhover;
            &:hover{
                color: #0B67A2;
                @include hover;
            }
        }
    }
    aside {
        border-left: solid 1px #ccc;
    }

    article {
        
        img {
            float: left;
        }       
 
        .read-more {
            display: block;
            height: 30px;
            line-height: 30px;

            &:after {
                content : ' >> ';
                font-size: 12px;
            }
        }
    }
}

footer, footer a {
    background: #333;
    color: #fefefe;
    font-size: 12px;
    text-align: center;
}
