/*
 * Specific styling, by element.
 */

body > header {
    background-color: #1B6DA2;
    background-image: url('../img/cloud.png');
    background-repeat: no-repeat;
    background-position: right center;

    h1 a, h2 {
       color: #BCCFDC;
       text-shadow: 1px 1px #555;
    }
    
    x-lang-switcher x-lang {
        opacity: 0.6;
        cursor: pointer;
        @include unhover;
        &:hover, &[selected]{
            opacity: 1;
            @include hover;
        }
    }
}

.main {
    background-color: #fff;
    @include shadow;
    @include radius(6px);
    nav {
        background-color: #424244;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        @include shadow;
        li {
            border-right: solid 1px #555;
            text-align: center;
            border-bottom: solid 4px #424244;
            @include unhover;
            &:hover, &.active{
                @include hover;
                &:nth-child(1){
                    border-bottom: solid 4px #73d216;
                }
                &:nth-child(2){
                    border-bottom: solid 4px #edd400;
                }
                &:nth-child(3){
                    border-bottom: solid 4px #ad7fa8;
                }
                &:nth-child(4){
                    border-bottom: solid 4px #3465a4;
                }
                &:nth-child(5){
                    border-bottom: solid 4px #f57900;
                }
                &:nth-child(6){
                    border-bottom: solid 4px #c17d11;
                }
            }
            x-load {
                font-family: $headingFont;
                font-size: 18px;
                text-decoration: none;
                text-transform: capitalize;
                color: #efefef;
                /*color: #555;*/

            }
        }
    }
    aside {
        border-left: solid 1px #ccc;

        section {
            border-bottom: solid 1px #eee;
            margin-bottom: 5px;
            padding-bottom: 5px;
            font-size: 13px;

            h1 {
                font-size: 14px;
                margin: 3px 0;
            }
        }
        .about-me {
            ul.links {
                list-style-type : none;
                padding: 0;
                margin: 5px 0 0 0;
                overflow: hidden;
                li {
                    float: left;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center; 
                    /*background-color: #2C5A78;*/
                    background-color: #3A769D;
                    margin-right: 1px;
                    border-radius: 2px;
                    cursor: pointer;
                    a {
                        font-size: 18px;
                        color: #fff;
                    }
                    &:hover a {
                        font-size: 22px;
                        transition-property: font-size;
                        transition-duration: .1s;
                        transition-timing-function: linear;
                    }
                }
                &:after {
                    clear: both;
                }
            }
        }
        x-post-list{
            ul{
                list-style-type : none;
                padding: 0;
                margin: 0 0 2px 0;
                li {
                    padding: 3px; 
                    margin: 0 0 0 6px;
                    font-size: 14px;
                    cursor: pointer;
                    color: #444;

                    &:hover {
                        color: #666;
                    }
                
                    &:before {
                        @extend .fa;   
                        @extend .fa-caret-right;
                        color: #444;
                        margin-right: 5px;
                    }
                    &.open:before {
                        @extend .fa-caret-down;
                        margin-right: 3px;
                    }
                    & > ul {
                        max-height: 0;
                        overflow: hidden;
                        transition-property: max-height;
                        transition-duration: .5s;
                        transition-timing-function: linear;
                    }
                    &.open > ul {
                        max-height: 600px;
                        transition-property: max-height;
                        transition-duration: 1s;
                        transition-timing-function: linear;
                    } 
                }
                li li li{

                    &:before {
                        font-size: 8px;
                        @extend .fa-square;
                        margin-right: 2px;
                    }
                }
            }
        }

    }

    article {
        .read-more {
            display: block;
            height: 30px;
            line-height: 30px;

            &:after {
                @extend .fa;
                @extend .fa-arrow-circle-right:before;
            }
        }
    }

    #content {
        img {
            float: left;
            margin: 0 25px 10px 0;
            padding: 3px;
            border: solid 1px #eee;
            @include radius(3px);
            @include shadow;
        }
        article {
            &:after, &:before {
                clear: both;
            } 
            img {
                max-height: 150px;
            }
            header {

                position: relative;
        
                h1 {
                    margin: 20px 0 0 100px;
                }

                x-time {
                    display: block;
                    position: absolute;
                    background-color: #1B6DA2;
                    width: 80px;
                    height: 50px;
                    left: -25px;
                    top: 0;
                    line-height: 25px;
                    text-align: center;
                    color: #fff;
                    @include shadow(10px);

                    &:after {
                        content: "";
                        width: 0px;
                        height: 0px;
                        position: absolute;
                        border-style: solid;
                        border-color: transparent transparent transparent #1B6DA2;
                        border-width: 25px 25px;
                        right: -49px;
                        border-radius: 0px;
                        top: 0;
                        box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
                    }
                }

                .categories > span {
                    background-color: #0B67A2;
                    color: #fff;
                    @include radius(6px);

                    padding: 1px 2px; 
                    margin: 0 3px 0 0;

                    line-height: 32px;
                }

                &:after {
                    clear: both;
                }
            }
        }

        ul {
            list-style-type: none;
            & > li {
                position: relative;
                margin-bottom: 3px;
                &:before {
                    @extend .fa;   
                    @extend .fa-check-square;
                    color: #2C5A78;
                    font-size: 13px;
                    line-height: 13px;
                    margin-right: 6px;
                }
            }
        } 
        blockquote {
            clear: both;
        }
        p code {
           font-family: monospace;
           font-size: 1.1em;
           background-color: #eee;
           padding: 2px 3px;
            @include radius(3px);
        }
        pre code {
           font-size: .9em;
        }
    }
}

footer, footer a {
    background: #333;
    color: #fefefe;
    font-size: 12px;
    text-align: center;
}



