// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$page-bg: #EFEFEF;
$header-bg: #6F7F8A;
//$title_color:#E9AC24; 
$title_color:#BCCFDC;
$subtitle-color: lighten($title_color, 5);
//#88A5B8;
//$nav-bg:#FFB456;
//$nav-bg:#FFDF83;
//$nav-bg:#FFC883;
$nav-bg:#FFE6C7;
$nav-color:#666;
$nav-color-hover:darken($nav-bg,40);

$link-color:#1F7CB8;
$link-color-hover: lighten(#2C5A78, 10);
//#2C5A78;
$sidebar-link-color: #2C5A78;
$sidebar-link-color-hover: $link-color-hover;
$footer-bg: $nav-bg;
$footer-color: $nav-color;
$footer-link-color: $nav-color;
$footer-link-color-hover : $nav-color-hover;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: dark;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
$base01:          #618D9A; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
$base1: 	        #B0BFBF; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
